FORMAT: 1A
HOST: https://shop-name.upgates.com/

# Upgates API
<a href="https://www.upgates.cz/"><img src="https://files.upgates.com/graphics/logos/upgates/svg/upgates-logo.svg" width="150px" alt="Upgates"></a>

Upgates API slouží jako rozhraní pro přístup do e-shopů Upgates. Díky Upgates API můžete pracovat s daty v systému (vkládání, aktualizace, čtení, mazání) v reálném čase a propojit např. váš účetní, ERP, nebo jiný systém s Upgates. Více informací naleznete na [upgates.cz](https://www.upgates.cz/).
<br>
<br>

## Základní informace
* Pokud vytváříte vlastní napojení, zvažte použítí již [hotových doplňků](https://www.upgates.cz/doplnky), nebo si přečtěte tipy pro [vlastní napojení](https://www.upgates.cz/a/napojeni-na-ucetni-erp-a-jine-systemy)
* Pro komuninaci s API budete potřebovat [vytvořit přístup](https://upgates.cz/cz/a/dokumentace-api-hotova-propojeni). To můžete udělat v administraci e-shopu v sekci *Doplňky > API*.
* API je dostupné na URL adrese: `https://NAZEV-ESHOPU.admin.ZNACKA-SERVERU.upgates.com/api/v2` Přesný tvar URL adresy najdete v administraci e-shopu v sekci *Doplňky > API*.
* Každý požadavek, který má v těle [JSON](https://cs.wikipedia.org/wiki/JavaScript_Object_Notation), by měl obsahovat hlavičku `Content-Type: application/json`.
* V případě chyby vrací API JSON s textem zprávy a odpovídající [stavový kód](#introduction/stavove-kody).
* API pracuje v kódování `UTF-8`, tzn. obsah všech požadavků musí být v tomto kódování.

## Autentizace
* Je potřeba si v administraci založit [přístup do API](https://www.upgates.cz/a/dokumentace-api-hotova-propojeni).
* Každému API uživateli je možné omezit přístupová práva na jednotlivé API endpointy. Konkrétní seznam včetně přístupových práv lze získat pomocí endpointu [Stav API](#reference/stav-api), který je vždy povolen pro všechny uživatele API.
* Každý API přístup je přiřazen do skupiny, skupiny se přiřazují automaticky a slouží pro [Rate limiting](/#introduction/rate-limiting)
* Autentizace probíhá pomocí [HTTP Basic authentication](https://en.wikipedia.org/wiki/Basic_access_authentication). Používají se identifikační údaje **login:klíč API**.
* Po 5-ti špatných pokusech se API zablokuje a vrací chybovou hlášku `403` (viz. [Omezení přihlášení](#introduction/rate-limiting/omezeni-prihlaseni)).

## Stavové kódy
* `200` **OK** - úspěšně zpracovaný požadavek, ve většině případů vrací JSON (viz. popis konkrétních endpointů).
* `301` **Moved Permanently** - e-shop byl přesunut na jiný server. V tomto případě server nevrací hlavičku `Location`, pouze v těle požadavku vrací JSON s novou adresou `{ "api_url": "https://NAZEV-ESHOPU.admin.ZNACKA-SERVERU.upgates.com/api/v2" }` Adresu si u sebe musíte změnit na novou.
* `400` **Bad Request** - špatný požadavek, nevalidní JSON v těle požadavku. Pokud požadavek vyžaduje JSON, musí to být [JSON Object](https://www.w3schools.com/js/js_json_objects.asp)</a>
* `401` **Unauthorized** - chyba při autentizaci, chybějící hlavička pro autentizaci nebo špatné přihlašovací údaje
* `403` **Forbidden** - API uživatel není aktivní, nebo byl překročen maximální počet pokusů o přihlášení. Případně uživatel nemá práva na endpoint nebo metodu endpointu.
* `404` **Not Found** - špatná URL adresa požadavku.
* `405` **Method Not Allowed** - nepodporovaná metoda API nebo metoda konkrétního endpointu není implementována.
* `413` **Payload Too Large** - překročena velikost PUT požadavku - počet položek v JSONu (viz. [Rate Limiting](#introduction/rate-limiting)).
* `429` **Too Many Requests** - překročen maximální počet požadavků (viz. [Rate Limiting](#introduction/rate-limiting)).
* `500` **Internal Server Error** - chyba serveru. Pokud nastane, kontaktujte [technickou podporu Upgates](https://upgates.cz/a/technicka-podpora).
* `501` **Not Implemented** - metoda není implementována.

## HTTP metody
* API podporuje 4 základní HTTP metody: `POST`, `GET`, `PUT`, `DELETE`. Bližší popis je u každého endpointu.
* Pro přepsání HTTP metody můžete použít hlavičku `X-HTTP-Method-Override`. Požadavek může být např. `POST`, ale v pokud bude v požadavku tato hlavička s hodnotou `DELETE`, vyhodnotí se jako `DELETE`.

## Datové typy
* `bool` - true / false, 1 / 0
* `string` - standardní řetězec znaků v **UTF-8**.
* `int` - celé číslo.
* `float` - desetinné číslo, jako oddělovač desetinných míst používejte tečku.
* `array` - pole hodnot.
* `object` - JSON Object.
* `email` - validní emailová adresa.
* `date` - datum zapsané jako řeťezec znaků dle [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).
* `language` - kód jazyka dle [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes).
* `currency` - kód měny dle [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217).
* `country` - kód země dle [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).

## Rate Limiting
Aby nedošlo k přílišnému zahlcení API požadavky, ať už neúmyslně špatným návrhem anebo úmyslně, je API omezeno.

<!--
### Omezení počtu požadavků
* Celkový počet požadavků na API za poslední hodinu je **12 000**. Používá se tzv. Floating Time Window kdy se počet požadavků počítá o hodinu nazpět od aktuálního času.
* Do tohoto limitu se počítají pouze požadavky které skončí HTTP stavem `200`. Počítá se pro všechny uživatele API dohromady, nezapočítávají se uživatelé služeb, tzn. uživatele které vytvořil systém automaticky, Ti jsou v administraci jsou vidět pouze pro přehled a nelze u nich provádět žádnou změnu.
* Po překrocění limitu vrací API stavový kód `429` a hlavičku `Retry-After` ve které je čas ve který se možné provést další volání API.
-->

### Omezení přihlášení
* Je omezený počet pokusů o přihlášení, tzn. že můžete udělat pouze **5 špatných přihlášení za 1 hodinu na jednu IP adresu**. Potom API zablokuje přístup a vrací stav `403`. Používá se *Floating Time Window*.

### Omezení velikosti požadavku
* Je omezena velikost `PUT` požadavku, tzn. že v JSONu může být **maximálně 100 položek**. Pokud je tento počet překročen, neprovede se žádná operace (API veškerá data ignoruje) a vrací stav `413`.

### Omezení počtu požadavků
- Omezení počtu požadavků je zde uvedeno prozatím pouze informativně. Plánované uvedení do ostrého provozu je v průběhu roku 2024

Je omezen počet požadavků za hodinu/den. Tento limit je sestaven ze **základního limitu** podle vybraného tarifu z obchodního modelu [(viz ceník)](https://www.upgates.cz/cenik). a **indivdiuálního limitu,** který si každý klient může sám určit.

**Počet požadavků základního limitu za hodinu/den:**
* **Bronze** 10/100
* **Silver** 15/300
* **Gold** 50/600
* **Platinum** 100/1500
* **Exclusive** 100/1500 (+ možnosti individuálního rozšíření)

**Počet požadavků individuálního limitu za hodinu/den:**

Tento individuální limit je tvořen samostatnými "balíčky", které jsou tvořeny po 1000 požadavcích. Těchto 1000 požadavků je rozděleno mezi denní a hodinový limit.

25 požadavků za hodinu a 400 za den.

**Celkem tedy 600** (25požadavků x 24hodin) **+ 400den = 1000**

Maximální počet balíčků, který lze dokoupit je 60. To odpovídá 60 000 požadavků za den. Pokud budete potřebovat limit ještě větší, prosím kontaktujte technickou podporu.


### Souběžné požadavky
* Na API je možno provádět pouze **3 souběžné požadavky**. Pokud je tento počet překročen, API vrací stav `429`.
* **POZOR - souběžné požadavky se počítají na skupinu API přístupu nikoliv na jeden API přístup, proto pokud napojujete doplňkovou funkci kterou využívá více klentů, zvažte napojení přes náš [systém doplňků](/#reference/doplnky). Přes doplňky dostane váš API přístup vlastní skupinu a nebudou ho omezovat ostatní přístupy.**

## Stránkování
Většina endpointů podporujících metodu `GET` nevrací kompletní seznam položek, ale pouze jejich první stranu. Pomocí parametru `page` lze určit konkrétní stranu, která se ve výpisu zobrazí. Odpověď pak obsahuje ještě další parametry, pomocí kterých můžete stránkovat.
* `current_page` - aktuální strana.
* `current_page_items` - počet položek na aktuální straně.
* `number_of_pages` - celkový počet stran.
* `number_of_items` - celkový počet položek.

## Jak na API napojení (rady a tipy)
Pro maximální optimalizaci API propojení doporučujeme tyto postupy:

* Většina endpointů má možnost filtrovat položky podle času poslední změny. Tzn. že si můžete vytáhnout např. produkty od času posledního volání API a tím ušetřit čas i množství požadavků na stahování produktů.
* V `PUT` a `POST` požadavku je možné posílat až 100 položek. Tím se zakladání nebo aktualizace výrazně zrychlí a není nutné volat API pouze s jednou položkou.
* Zvažte, jak často je třeba API volat. Mnohokrát se stává, že voláte API zbytečně často. Většinou se jedná o `GET` požadavek pro objednávky.
* Pro každé napojení si vytvořte zvláštní přístup (uživatele), kterému omezíte přístup pouze na potřebné služby. V budoucnu je poté jednodušší takové napojení deaktivovat nebo zrušit.

## Testování
Pro testování API můžete použít:
* Rozšíření [Postman](https://chrome.google.com/webstore/detail/tabbed-postman-rest-clien/coohjcphdfgbiolnekdpbcijmhambjff) pro Google Chrome.
* Rozšíření [RESTED](https://addons.mozilla.org/en-US/firefox/addon/rested/) pro Mozilla Firefox.
* [Upgates API client](https://files.upgates.com/api/upgates-api-client.zip) - jednoduchý API klient v PHP.

## Přehled změn

 Datum | Endpoint | Změna
---|--------|--------
 **26.2.2024** | [Seznam produktů](#reference/produkty/seznam-produktu/seznam-produktu) (GET) | přidáno pole `set_yn`, a `in_set_yn` do objektu produktu (`product`)
 **3.1.2024** | [Vytvoření kupónů](#reference/marketing/slevove-kupony/vytvoreni-kuponu) (POST) |  přidán typ `payment_shipment`
 **5.12.2023** | [Seznam produktů - ceny](#reference/produkty/seznam-produktu/seznam-produktu-ceny) (GET) | přidáno do objektu produktu (`product`) pole `action_currently_yn`, přidáno do objektu produktu (`variant`) pole `action_currently_yn`
 **7.8.2023** | [Seznam kategorií](#reference/kategorie/seznam-kategorii/seznam-kategorii) (GET) | přidán parametr `parent_id` (možnost filtrace objednávek podle ID nadřazené kategorie)
 **21.11.2023** | [Seznam produktů](#reference/produkty/seznam-produktu/seznam-produktu) (GET) | přidáno do parametrů pole `exclude_from_search_yn`, přidáno do objektu produktu (`product`) pole `exclude_from_search_yn`
 **19.10.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidán parametr `phone` (možnost filtrace objednávek podle telefonního čísla)
 **5.10.2023** | [Seznam faktur](#reference/faktury/faktury/seznam-faktur) | přidáno pole `oss_yn` a `oss_country_id`
 **1.9.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu dopravy (`shipment`) pole `packeta_carrier_id`
 **29.8.2023** | [Platby](#reference/platba/platba/seznam-plateb) | nový endpoint na seznam plateb
 **29.8.2023** | [Jazyky](#reference/e-shop/jazyky/jazyky-eshopu) | přidáno pole `default_yn`
 **25.8.2023** | [Seznam doprav](#reference/doprava/doprava/seznam-doprav) | změna pole `affiliates_yn` na `affiliates_types`
 **25.8.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu dopravy (`shipment`) pole `id`, přidáno do objektu platby (`payment`) pole `id`
 **25.8.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu dopravy (`shipment`) pole `type`, přidáno do objektu platby (`payment`) pole `type`
 **22.8.2023** | [Seznam doprav](#reference/doprava/doprava/seznam-doprav) | nový endpoint na seznam doprav
 **17.8.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu produktu (`product`) pole `adult_yn`
 **10.8.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidán parametr `status_ids` (možnost filtrace objednávek podle více stavů)
 **10.8.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu produktu (`product`) pole `image_url`
 **9.8.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu objednávky (`order`) pole `tracking_url`
 **7.8.2023** | [Seznam kategorií](#reference/kategorie/seznam-kategorii/seznam-kategorii) | přidáno do objektu kategorie (`category`) pole `metas`
 **25.7.2023** | [Vytroření poboček dopravy](#reference/doprava/pobocky-dopravy/vytvoreni-pobocky-dopravy) | přidáno pole `affiliate_id` pro vlastní ID pobočky
 **27.6.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno filtrování podle `external_order_number`
 **19.6.2023** | [Seznam produktů](#reference/produkty/seznam-produktu/seznam-produktu) | přidáno do objektu produktu (`product`) pole `supplier`
 **1.6.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu produktu (`product`) pole `supplier`
 **5.5.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu produktu (`product`) pole `recycling_fee`
 **21.4.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidány do objektu zákazníka (`customer`) pole `customer_pricelist_id`, `pricelist_name`, `pricelist_percent`
 **12.4.2023** | - | aktualizace systému na verzi 30.0, více na [blogu](https://www.upgates.cz/a/aktualizace-systemu-verze-30)

# Group Objednávky
Unikátním identifikátorem objednávek je číslo objednávky (`order_number`). Více o objednávkách v Upgates e-shopech najdete [zde](https://www.upgates.cz/a/objednavka).

## Objednávky [/api/v2/orders]

### Vytvoření objednávky [POST]
Systém během importu objednávek přes API porovnává zákaznické údaje v e-shopu s těmi v objednávce. Když se najde zákazník se shodným emailem, pak je přiřazen k dané objednávce (je vytvořena vazba). Je to z důvodu správného výpočtu statistik.

Stejným způsobem to funguje také u dopravy, platby a produktů (variant). Ty se párují podle kódu.

Při vytvoření objednávky se posílají emaily a SMS (pokud jsou nějaké u [stavu objednávky](https://www.upgates.cz/a/stavy) nastaveny) a pokud jsou nastaveny atributy `send_emails_yn` a `send_sms_yn`.

+ Request

    + Attributes
        + send_emails_yn (bool, optional) - poslání emailu, který je navázáný na stav objednávky. Výchozí hodnota je `true`
        + send_sms_yn (bool, optional) - poslání SMS, která je navázána na stav objednávky. Výchozí hodnota je `true` (SMS služba není standardně aktivní, více najdete v [Nastavení SMS](https://upgates.cz/a/sms))
        + orders (array, required) - pole objektů s objednávkami
            + (object)
                + external_order_number (string, optional) - číslo objednávky z externího systému
                + language_id (language, required) - jazyk objednávky. Tento jazyk musí být vytvořen v administraci eshopu
                + prices_with_vat_yn (bool, optional) - příznak, jestli jsou ceny s DPH. Pokud není zadáno, bere se podle nastavení z administrace
                + status (string, optional) - název stavu objednávky z administrace (výchozí stav u nové objednávky je **Přijatá**). Seznam stavů se dá zjistit pomocí metody GET, více v sekci [Stavy objednávky](#states)
                + paid_date (date, optional) - datum zaplacení objednávky
                + tracking_code (string, optional) - trackovací kód pro dopravu
                + resolved_yn (bool, optional) - příznak pro vyřešenou objednávku
                + internal_note (string, optional) - interní poznámka
                + variable_symbol (enum, optional) - variabilní symbol (maximální délka 10 znaků, jen číslice). Pokud není uvedeno, generuje se systémem z čísla obchodního případu
                    - case - doplní se automaticky variabilní symbol z čísla obchodního případu
                    - order - doplní se automaticky variabilní symbol z čísla objednávky
                    - variabilní symbol - (maximální délka 10 znaků, jen číslice) - doplní se vlastní hodnota
                + creation_time (date, optional) - čas vytvoření objednávky
                + customer (object, required) - zákazník
                    + email (email, required) - email zákazníka
                    + phone (string, optional) - telefon
                    + firstname_invoice (string, optional) - fakturační jméno
                    + surname_invoice (string, optional) - fakturační příjmení
                    + street_invoice (string, optional) - fakturační ulice a číslo
                    + city_invoice (string, optional) - fakturační město
                    + state_invoice (string, optional) - fakturační okres
                    + zip_invoice (string, optional) - fakturační PSČ
                    + country_id_invoice (country, optional) - fakturační země
                    + postal_yn (bool, optional) - příznak doručovací adresy. Pokud posíláte doručovací adresu, musí mít hodnotu `true`
                    + firstname_postal (string, optional) - doručovací jméno
                    + surname_postal (string, optional) - doručovací přijmení
                    + street_postal (string, optional) - doručovací ulice a číslo
                    + city_postal (string, optional) - doručovací město
                    + state_postal (string, optional) - doručovací okres
                    + zip_postal (string, optional) - doručovací PSČ
                    + country_id_postal (country, optional) - doručovací země
                    + company_postal (string, optional) - doručovací název firmy
                    + company_yn (bool, optional) - příznak, jestli je zákazník firma
                    * company (string, optional) - název firmy. Povinné, pokud je zákazníkem firma
                    + ico (string, optional) - IČO
                    + dic (string, optional) - DIČ
                    + vat_payer_yn (bool, optional) - příznak, jestli je firma plátce DPH
                    + pricelist_name (string, optional) - název ceníku
                    + pricelist_percent (int, optional) - procenta slevy ceníku (pouze informativní, s procenty se nikde nepočítá)
                    + customer_note (string, optional) - poznámka zákazníka
                + products (array, required) - pole objektů s produkty
                    + (object)
                        + code (string, optional) - kód produktu
                        + code_supplier (string, optional) - kód dodavatele
                        + ean (string, optional) - EAN produktu
                        + title (string, required) - název produktu
                        + quantity (float, optional) - počet kusů
                        + unit (string, optional) - jednotka
                        + price_per_unit (float, required) - cena za jednu jednotku produktu
                        + vat (float, required) - hodnota DPH v %
                        + buy_price (float, optional) - nákupní cena
                        + recycling_fee (float, optional) - recyklační poplatek
                        + weight (int, optional) - váha jedné jednotky produktu v gramech
                        + invoice_info (string, optional) - poznámka k produktu která se propisuje do faktury
                        + parameters (array, optional) - pole objektů s parametry produktu
                            + (object)
                                + name (string, required) - název parametru
                                + value (string, required) - hodnota parametru
                + shipment (object, optional) - doprava
                    + code (string, optional) - kód dopravy. Páruje se s kódem dopravy (ve vlastních polích) v administraci
                    + name (string, required) - název dopravy
                    + price (float, required) - cena dopravy
                    + vat (float, required) - hodnota DPH v %
                    + affiliate_id (string, optional) - ID pobočky dopravy
                + payment (object, optional) - platba
                    + code (string, optional) - kód platby. Páruje se s kódem platby (ve vlastních polích) v administraci
                    + name (string, required) - název platby
                    + price (float, required) - cena platby
                    + vat (float, required) - hodnota DPH v %
                    + eet_yn (bool, optional) - příznak jestli se má poslat objednávka do EET
                + metas (array, optional) - pole objektů s vlastními poli
                    + (object)
                        + key (string, required) - klíč vlastního pole
                        + value (string, required) - hodnota vlastního pole
                + invoice (object, optional) - faktura, možnost vygenerování faktury
                    + generate_yn (bool, optional) - příznak o vygenerování faktury. Pokud bude `FALSE`, nevygeneruje se  vůbec ani v případě, že je zapnuté automatické generování faktury
                    + expiration_date (date, optional) - datum splatnosti. Pokud není vyplněno, bere se aktuální datum + nastavená hodnota z administrace
                    + date_of_issuance (date, optional) - datum vystavení
                    + date_of_vat_revenue_recognition (date, optional) - datum zdanitelného plnění

+ Response 200 (application/json)

    + Attributes
        + orders (array) - pole objektů s objednávky
            + (object)
                + external_order_number (string) - externí číslo objednávky
                + order_number (string) - číslo objednávky. Pokud se objednávka nevytvoří, vrací `null`
                + order_url (string) - URL adresa, kde se nachází objednávka
                + created_yn (bool) - příznak, jestli se objednávka vytvořila
                + messages (ErrorMessage)

### Seznam objednávek [GET/api/v2/orders/{order_number}/{?order_numbers}{?creation_time_from}{?creation_time_to}{?last_update_time_from}{?paid_yn}{?status}{?status_id}{?status_ids}{?language}{?email}{?phone}{?external_order_number}{?payment_type}{?shipment_type}{?page}{?order_by}{?order_dir}]
Seznam objednávek je dostupný po jednotlivých stranách, výstup je omezený na 100 položek na stránku.

+ Parameters
    + order_number (string, optional) - číslo objednávky
    + order_numbers (string, optional) - čísla objednávek oddělená středníkem `;`
    + creation_time_from (date, optional) - vrátí objednávky vytvořené od tohoto data
    + creation_time_to (date, optional) - vrátí objednávky vytvořené do tohoto data včetně
    + last_update_time_from (date, optional) - vrátí objednávky změněné od tohoto data
    + paid_yn (bool, optional) - pokud je 1, vrátí zaplacené objednávky
    + status (string, optional) - stav objednávky. Pokud bude prázdný, vrátí objednávky, kde není zadaný žádný stav
    + status_id (int, optional) - ID stavu objednávky
    + status_ids (string, optional) - ID stavu objednávky oddělená středníkem `;`
    + language (language, optional) - jazyková mutace, na které objednávka vznikla
    + email (string, optional) - email zákazníka na objednávce
    + phone (string, optional) - telefon zákazníka na objednávce, ve formátu **MSISDN**
    + external_order_number (string, optional) - číslo objednávky z externího systému
    + payment_type (enum, optional) - typ platby
        - cash - hotově
        - cashOnDelivery - dobírka
        - command - převodem
        - moneybookers - skrill
        - paypal - PayPal
        - payu - PayU
        - homecredit - Homecredit
        - tatrapay - TatraPay
        - tatracardpay - CardPay
        - comgate - ComGate
        - cetelem - Hello bank
        - gopay - GoPay
        - fio - Fio
        - gpwebpay - GP webpay
        - cofidis - Cofidis
        - essox - Essox
        - twisto - Twisto
        - cashOnCashRegister - Hotově na pokladně
        - cardOnCashRegister - Kartou na pokladně
        - thepay - ThePay
        - custom - Vlastní
    + shipment_type (enum, optional) - typ dopravy
        - ceskaPosta - Česká pošta
        - slovenskaPosta - Slovenská pošta
        - ulozenka - Uloženka
        - zasilkovna - Zásilkovna
        - dpd - DPD
        - ppl - PPL
        - gls - GLS
        - custom - Vlastní doprava
    + page (int, optional) - stránka. Pokud není definováno, vrací vždy stranu 1
    + order_by (enum, optional) - řazení
        - creation_time - seřadí podle času vytvoření
        - last_update_time - seřadí podle času změny
    + order_dir (enum, optional) - směr řazení
        - asc - vzestupně
        - desc - sestupně

+ Response 200 (application/json)

    + Attributes
        + current_page (int) - aktuální strana
        + current_page_items (int) - počet položek na aktuální straně
        + number_of_pages (int) - celkový počet stran
        + number_of_items (int) - celkový počet položek
        + orders (array) - pole objektů s objednávkami
            + (object)
                + order_number (string) - číslo objednávky
                + case_number (string) - číslo obchodního případu
                + external_order_number (string) - číslo objednávky z externího systému
                + language_id (language) - jazyk objednávky
                + currency_id (currency) - měna objednávky
                + default_currency_rate (currency) - kurz pro výchozí měnu. Přepočet ceny do výchozí měny provedete jako: cena * (1 / `default_currency_rate`)
                + prices_with_vat_yn (bool) - příznak, jestli jsou ceny s DPH
                + status_id (int) - ID stavu objednávky
                + status (string) - název stavu objednávky
                + paid_date (date) - datum zaplacení objednávky
                + tracking_code (string) - trackovací kód pro dopravu
                + tracking_url (string) - trackovací URL pro dopravu
                + resolved_yn (bool) - příznak pro vyřešenou objednávku
                + oss_yn (bool) - příznak, jestli byla objednávka vytvořena v režimu OSS
                + internal_note (string) - interní poznámka
                + last_update_time (date) - datum aktualizace
                + creation_time (date) - datum vytvoření
                + variable_symbol (string) - variabilní symbol
                + total_weight (int) - celková váha objednávky v gramech
                + order_total (float) - celková cena s DPH
                + order_total_before_round (float) - celková cena s DPH před zaokrouhlením
                + order_total_rest (float) - hodnota zaokrouhlení celkové ceny s DPH
                + invoice_number (string) - číslo faktury
                + origin (enum) - původ vytvoření objednávky
                    - admin - vytvoření ručně v administraci
                    - frontend - vytvoření zákazníkem na e-shopu
                    - api - vytvoření posláním dat přes API
                    - cash–register - vytvoření přes pokladnu
                + admin_url (string) - URL do detailu objednávky v administraci
                + customer (object) - zákazník
                    + email (email) - email zákazníka
                    + phone (string) - telefon
                    + code (string) - zákaznické číslo
                    + customer_id (int) - ID zákazníka
                    + customer_pricelist_id - ID ceníku zákazníka ve kterém zákazník napoupil
                    + pricelist_name - název ceníku
                    + pricelist_percent - procento slevy ceníku
                    + firstname_invoice (string) - fakturační jméno
                    + surname_invoice (string) - fakturační příjmení
                    + street_invoice (string) - fakturační ulice a číslo
                    + city_invoice (string) - fakturační město
                    + state_invoice (string) - fakturační okres
                    + zip_invoice (string) - fakturační PSČ
                    + country_id_invoice (country) - fakturační země
                    + postal_yn (bool) - příznak doručovací adresy
                    + firstname_postal (string) - doručovací jméno
                    + surname_postal (string) - doručovací přijmení
                    + street_postal (string) - doručovací ulice a číslo
                    + city_postal (string) - doručovací město
                    + state_postal (string) - doručovací okres
                    + zip_postal (string) - doručovací PSČ
                    + country_id_postal (country) - doručovací země
                    + company_postal (string) - doručovací název firmy
                    + company_yn (bool) - příznak, jestli je zákazník firma
                    + company (string) - název firmy
                    + ico (string) - IČO
                    + dic (string) - DIČ
                    + vat_payer_yn (bool) - příznak, jestli je firma plátce DPH
                    + customer_note (string) - poznámka zákazníka
                    + agreements (array) - pole objektů se souhlasy
                        + (object)
                            + name (string) - název souhlasu
                            + valid_to (date) - čas, do kdy je souhlas platný
                            + status (bool) - stav souhlasu
                + products (array) - pole objektů s produkty
                    + (object)
                        + product_id (int) - ID produktu z databáze (pouze orientačně, pro párování produktů slouží `code`)
                        + option_set_id (int) - ID varianty z databáze (pouze orientačně, pro párování produktů slouží `code`). Bude vyplněno pouze tehdy, pokud je položka varianta produktu
                        + code (string) - kód produktu nebo varianty produktu
                        + code_supplier (string) - kód dodavatele produktu nebo varianty produktu
                        + supplier (string) - dodavatel
                        + ean (string) - EAN produktu nebo varianty produktu
                        + title (string) - název produktu
                        + adult_yn (bool) - příznak  pouze pro dospělé 
                        + quantity (float) - počet jednotek
                        + unit (string) - jednotka
                        + length (string) - množství
                        + length_unit (string) - jednotka množství
                        + price_per_unit (float) - cena za jednu jednotku produktu (cena je s nebo bez DPH podle příznaku `prices_with_vat_yn`)
                        + price (float) - celková cena za produkt (cena je s nebo bez DPH podle příznaku `prices_with_vat_yn`)
                        + price_with_vat (float) - celková cena za produkt s DPH
                        + price_without_vat (float) - celková cena za produkt bez DPH
                        + vat (float) - hodnota DPH v %
                        + buy_price (float) - nákupní cena za jednu jednotku produktu
                        + recycling_fee (float) - recyklační poplatek
                        + weight (int) - váha jedné jednotky produktu v gramech
                        + availability (string) - dostupnost produktu ve chvíli, kdy byl objednán
                        + invoice_info (string) - poznámka k produktu, která se propisuje do faktury
                        + parameters (array) - pole objektů s parametry produktu
                            + (object)
                                + name (string) - název konfigurace
                                + value (string) - hodnota parametru
                        + configurations (array) - pole objektů s konfiguracemi produktu
                            + (object)
                                + name (string) - název parametru
                                + values (array) - pole hodnot
                                    + (object)
                                        + value (string) - hodnota
                                        + operation (string) - operace (+, -)
                                        + cena (float) - cena konfigurace (je již připočtena k ceně produktu)
                        + categories (array) - pole objektů s kategoriemi, do kterých byl produkt zařazen v době vytvoření objednávky
                            + (object)
                                + category_id (int) - ID kategorie
                                + code (string) - kód kategorie
                        + image_url (string) - URL obrázku, hlavní obrázek z produktu
                + discount_voucher (object) - slevový kupón
                    + code (string) - kód slevového kupónu
                    + type (enum) - typ slevy
                        - percent - procentuální sleva
                        - price - pevná sleva
                    + amount (float) - výše slevy. Pokud je typ slevy `percent`, jsou to procenta. Pokud je typ `price`, jedná se o cenu
                    + discounts (array) - pole objektů se slevami rozpočítanými pro jednotlivé hladiny DPH
                        + (object)
                            + price (float) - hodnota slevy
                            + vat (float) - DPH v %
                + quantity_discount (object) - množstevní sleva
                    + type (enum) - typ slevy
                        - percent - procentuální sleva
                        - price - pevná sleva
                    + amount (float) - výše slevy. Pokud je typ slevy `percent`, jsou to procenta. Pokud je typ `price`, jedná se o cenu
                    + discounts (array) - pole objektů se slevami rozpočínanými pro jednotlivé hladiny DPH
                        + (object)
                            + price (float) - hodnota slevy
                            + vat (float) - DPH v %
                + loyalty_points (object) - věrnostní body
                    + one_point_for (float) - hodnota (cena) jednoho bodu
                    + amount (float) - výše slevy
                    + discounts (array) - pole objektů se slevami rozpočínanými pro jednotlivé hladiny DPH
                        + (object)
                            + price (float) - hodnota slevy
                            + vat (float) - DPH v %
                + shipment (object) - doprava
                    + id (int) - ID dopravy
                    + code (string) - kód dopravy. Páruje se s kódem dopravy (ve vlastních polích) v administraci
                    + name (string) - název dopravy
                    + price (float) - cena dopravy
                    + vat (float) - hodnota DPH v %
                    + affiliate_id (string) - ID pobočky dopravy
                    + type (string) - typ dopravy
                    + packeta_carrier_id (int) - ID dopravce, pouze pokud je typ dopravy Zásilkovna
                + payment (object) - platba
                    + id (int) - ID platby
                    + code (string) - kód platby. Páruje se s kódem platby (ve vlastních polích) v administraci
                    + name (string) - název platby
                    + price (float) - cena platby
                    + vat (float) - hodnota DPH v %
                    + eet_yn (bool) - příznak, jestli se má poslat objednávka do EET
                    + type (string) - typ platby
                + metas (array) - pole objektů s vlastními poli
                    + (object)
                        + key (string) - klíč vlastního pole
                        + type (string) - typ vlastního pole (hodnoty mohou být: radio, checkbox, input, date, email, number, select, multiselect, textarea, formatted)
                        + value (string) - hodnota vlastního pole, v případě kdy je hodnota vlastního pole společná pro všechny jazyky
                        + values (array) - pole objektů s hodnotami. V případě, kdy není hodnota vlastního pole společná pro všechny jazyky
                            + (object)
                                + language (language)
                                + value (string) - hodnota

### Aktualizace objednávek [PUT]
Při změně stavu se posílají emaily a SMS (pokud jsou nějaké u [stavu objednávky](https://www.upgates.cz/a/stavy) nastaveny) a pokud jsou nastaveny atributy `send_emails_yn` a `send_sms_yn`.

+ Request

    + Attributes
        + send_emails_yn (bool, optional) - poslání emailu při změně stavu (pokud je nějaký email nastaven). Výchozí hodnota je `true`
        + send_sms_yn (bool, optional) - poslání SMS která je navázána na stav objednávky. Výchozí hodnota je `true` (SMS služba není standardně aktivní, více najdete v [Nastavení SMS](https://upgates.cz/a/sms))
        + orders (array, optional) - pole objektů s objednávkami
            + (object)
                + order_number (string, required) - číslo objednávky
                + status (string, optional) - název stavu objednávky, stav musí být vytvořen v administraci. Seznam stavů se dá zjistit pomocí metody GET `/api/v2/orders/states`
                + status_id (int, optional) - ID stavu objednávky, stav musí být vytvořen v administraci. Seznam stavů se dá zjistit pomocí metody GET `/api/v2/orders/states`
                + paid_date (date, optional) - datum zaplacení objednávky
                + tracking_code (string, optional) - trackovací kód pro dopravu
                + resolved_yn (bool, optional) - příznak pro vyřešenou objednávku
                + internal_note (string, optional) - interní poznámka
                + metas (array, optional) - pole objektů s vlastními poli
                    + (object)
                        + key (string, required) - klíč vlastního pole
                        + value (string, required) - hodnota vlastního pole
                + invoice (object, optional) - faktura, možnost vygenerování faktury 
                    + generate_yn (bool, optional) - příznak o vygenerování faktury. Pokud bude `FALSE`, nevygeneruje se vůbec ani v případě, že je zapnuté automatické generování faktury. Pokud faktura už existuje, provede se její aktualizace podle dat objednávky.
                    + expiration_date (date, optional) - datum splatnosti. Pokud není vyplněno, bere se aktuální datum + nastavená hodnota z administrace
                    + date_of_issuance (date, optional) - datum vystavení
                    + date_of_vat_revenue_recognition (date, optional) - datum zdanitelného plnění

+ Response 200 (application/json)

    + Attributes
        + orders (array) - pole objektů z objednávky
            + (object)
                + order_number (string) - číslo objednávky
                + order_url (string) - URL adresa, kde se nachází objednávka
                + updated_yn (bool) - příznak, jestli se objednávka aktualizovala
                + messages (ErrorMessage)

### Smazání objednávek [DELETE/api/v2/orders/{?order_number}{?order_numbers}]

+ Parameters
    + order_number (string, optional) - číslo objednávky
    + order_numbers (string, optional) - čísla objednávek oddělená středníkem `;`

+ Response 200 (application/json)

    + Attributes
        + orders (array) - pole objektů s objednávky
            + (object)
                + order_number (string) - číslo objednávky
                + deleted_yn (bool) - příznak, jestli je objednávka smazaná
                + messages (ErrorMessage)

## Objednávka v PDF [/api/v2/orders/{order_number}/pdf]

### Objednávka v PDF [GET]
Vrací dokument objednávky ve formátu PDF.

+ Parameters
    + order_number (string, required) - číslo objednávky

+ Response 200 (application/pdf)

## Historie [/api/v2/orders/history]

### Přidání záznamu do historie objednávky [POST/api/v2/orders/{order_number}/history]
Přidá záznam do historie objednávky. Jeden pořadavek znamená přidání jednoho záznamu do historie. Slouží hlavně pro systémy třetích stran, které chtějí informovat administrátora e-shopu o tom, že proběhla nějaká událost. Čas události nelze upravovat. Pokud chcete, můžete si poslat čas v datech události.

+ Parameters
    + order_number (string, required) - číslo objednávky

+ Request

    + Attributes
        + data (array, required) - pole objektů s daty historie
            + (object)
                + name (string, required) - název, ořízne se na délku max. 50 znaků a odstraní se HTML značky
                + value (string, required) - hodnota, ořízne se na délku max. 500 znaků a odstraní se HTML značky

+ Response 200 (application/json)

### Historie objednávky [GET/api/v2/orders/{order_number}/history]
Vrací seznam událostí z historie objednávky. Data historie mohou obsahovat HTML značky.

+ Parameters
    + order_number (string, required) - číslo objednávky

+ Response 200 (application/json)

    + Attributes
        + number_of_items (int) - počet položek historie
        + history (array) - pole objektů s událostmi historie
            + (object)
                + event (string) - název události
                + user_name (string) - jméno uživatele, který událost provedl
                + changes (object) - pole objektů se změnami
                    + name (string) - název zněny
                    + before (string) - hodnota před změnou
                    + after (string) - hodnota po změně
                + admin_yn (bool) - příznak, jestli událost pochází z eshopu nebo z administrace. Pokud pochází událost z API, bude `true`
                + data (array) - pole objektů s daty
                    + (object)
                        + name (string) - název
                        + value (string) - hodnota
                + creation_time (date) - čas události

## Stavy objednávky [/api/v2/orders/states]
Více o stavech objednávek v Upgates e-shopech naleznete [zde](https://www.upgates.cz/a/stavy).

### Stavy objednávky [GET]
Vrací seznam stavů objednávek. V požadavku pro aktualizaci nebo vytvoření objednávky se dá použít název stavu v jakémkoliv jazyce.

+ Response 200 (application/json)

    + Attributes
        + states (array) - pole objektů se stavy
            + (object)
                + id (int) - ID stavu
                + type (enum) - typ stavu. Pokud je hodnota `null`, pak se jedná o vlastní stav. Jinak jsou to systémové stavy
                    - Received - Přijatá
                    - Canceled - Storno
                    - PaymentSuccessful - Platba úspěšná
                    - PaymentFailed - Platba selhala
                    - PaymentCanceled - Platba zrušena
                    - PaymentInProcess - Platba probíhá
                    - Unresolved - Nedořešená
                + color (string) - barva pro odlišení stavu v HTML HEX formátu
                + names (object) - názvy stavu objednávky v jednotlivých jazycích. Klíč v objektu je kód jazyka podle **ISO 8601** a hodnota je název stavu. Např. `{ "cs": "Přijatá" }`

# Group Faktury
Unikátním identifikátorem faktur je číslo faktury (`invoice_number`). Více o fakturách v Upgates e-shopech naleznete [zde](https://www.upgates.cz/a/dokument-faktura).

## Faktury [/api/v2/invoices]
Více o fakturaci v Upgates e-shopech naleznete [zde](https://www.upgates.cz/a/dokument-faktura).

### Seznam faktur [GET/api/v2/invoices/{invoice_number}{?invoice_numbers}{?creation_time_from}{?last_update_time_from}{?page}{?paid_yn}{?type}]
Některé údaje nejsou dostupné přímo ve faktuře, ale v detailu související objednávky. [Více zde](#reference/objednavky).
Seznam faktur je dostupný po jednotlivých stranách, výstup je omezený na 100 položek na stránku.

+ Parameters
    + invoice_number (string, optional) - číslo faktury
    + invoice_numbers (string, optional) - čísla faktur oddělená středníkem `;`
    + creation_time_from (date, optional) - vrátí faktury vytvořené od tohoto data
    + last_update_time_from (date, optional) - vrátí faktury změněné od tohoto data
    + page (int, optional) - stránka. Pokud není definováno, vrací vždy stranu 1
    + paid_yn (bool, optional) - pokud je 1, vrátí zaplacené faktury
    + type (enum, optional) - typ dokladu
        - invoice - faktura
        - creditNote - dobropis
        - receipt - účtenka

+ Response 200 (application/json)

    + Attributes
        + current_page (int) - aktuální strana
        + current_page_items (int) - počet položek na aktuální straně
        + number_of_pages (int) - celkový počet stran
        + number_of_items (int) - celkový počet položek
        + invoices (array) - pole objektů s fakturami
            + (object)
                + invoice_number (string) - číslo faktury
                + related_invoice_number (string) - číslo související faktury, **pouze u dobropisu**
                + type (enum) - typ faktury, hodnoty:
                    - invoice - faktura
                    - creditNote - dobropis
                    - receipt - účtenka
                + order_number (string) - číslo objednávky
                + external_order_number (string) - číslo objednávky z externího systému
                + case_number (string) - číslo obchodního případu
                + language_id (language) - jazyk faktury
                + currency_id (currency) - měna faktury
                + date_of_issuance (date) - datum vystavení
                + date_of_vat_revenue_recognition (date) - datum zdanitelného plnění
                + date_of_expiration (date) - datum splatnosti
                + creation_time (date) - datum vytvoření
                + variable_symbol (string) - variabilní symbol
                + specific_symbol (string) - specifický symbol
                + payment (string) - platba
                + paid_yn (bool) - zaplaceno
                + paid_date (date) - datum zaplacení
                + oss_yn (bool) - příznak jestli je faktura v režimu OSS
                + oss_country_id (country) - země režimu OSS
                + total_rest (float) - zaokrouhlení celkové částky
                + total_with_vat (float) - celková částka s DPH
                + total_without_vat (float) - celková částka bez DPH
                + note (string) - poznámka
                + invoice_pdf_url (string) - URL na PDF fakturu
                + supplier (object) - dodavatel
                    + email (string) - email
                    + phone (string) - telefon
                    + name (string) - jméno osoby nebo název firmy
                    + street (string) - ulice a číslo
                    + city (string) - město
                    + zip (string) - PSČ
                    + country_id (country) - stát
                    + company_yn (bool) - příznak, jestli je firma
                    + var_payer_yn (bool) - příznak, jestli je plátce DPH
                    + ico (string) - IČO
                    + dic (string) - DIČ
                    + account_number (string) - číslo účtu
                    + iban (string) - IBAN
                    + swift (string) - SWIFT
                    + web (string) - webová stránka
                + customer (object) - zákazník
                    + email (string) - email
                    + phone (string) - telefon
                    + name (string) - jméno osoby nebo název firmy
                    + street (string) - ulice a číslo
                    + city (string) - město
                    + zip (string) - PSČ
                    + country_id (country) - stát
                    + company_yn (bool) - příznak, jestli je zákazník firma
                    + ico (string) - IČO
                    + dic (string) - DIČ
                + items (array) - pole objektů s položkami
                    + (object)
                        + code (string) - kód. Pouze pokud je položka produkt a je u produktu zadaný, jinak je hodnota `null`
                        + name (string) - název. Pouze pokud je položka produkt, jinak je hodnota `null`
                        + description (string) - popis
                        + quantity (float) - počet kusů
                        + unit (string) - jednotka
                        + vat (float) - procentuální sazba DPH
                        + price_per_unit_with_vat (float) - cena za jednotku s DPH
                        + price_per_unit_without_vat (float) - cena za jednotku bez DPH
                        + price_with_vat (float) - cena za s DPH
                        + price_without_vat (float) - cena za bez DPH
                + eet (object) - informace o EET (bude vyplněno pouze u faktury typu účtenka)
                    + send_yn (bool) - příznak, jestli se má poslat do EET. Určuje systém na základě nastavení v e-shopu
                    + production_yn (bool) - pokud je hodnota 0, není v e-shopu aktivován produkční režim napojení na EET a data se do EET posílají v neprodukčním testovacím režimu
                    + id_provoz (string) - ID provozovny
                    + id_pokl (string) - ID pokladního zažízení
                    + rezim (enum) - režim EET, hodnoty:
                        - common - běžný
                        - simplified - zjednodušený
                    + bkp (string) - BKP (bezpečnostní kód poplatníka)
                    + fik (string) - FIK (fiskální identifikační kód)
                    + pkp (string) - PKP (podpisový kód poplatníka)
                + recapitulation_currency_id (currency) - měna rekapitulace DPH. Pokud bude faktura v jiné měně než je měna země provozovatele e-shopu, jinými slovy pokud e-shop prodává do zahraničí, bude zde měna provozovatele eshopu. Tedy měna, ve které je přehled DPH. Pokud není uvedeno, je přehled DPH ve měně faktury.
                + recapitulation_currency_rate (float) - kurz měny rekapitulace DPH
                + recapitulation_vats (array) - přehled DPH, pole objektů s jednotlivými hladinami DPH. Klíč pole je procentuální sazba DPH
                    + (object)
                        + base (float) - základ
                        + vat (float) - výše DPH
                        + total (float) - celkem s DPH
                + recapitulation_vats_total (object) - přehled DPH celkem
                    + base (float) - základ
                    + vat (float) - výše DPH
                    + total (float) - celkem s DPH

## PDF faktura [/api/v2/invoices/{invoice_number}/pdf]

### PDF faktura [GET]
Vrací fakturu ve formátu PDF.

+ Parameters
    + invoice_number (string, required) - číslo faktury

+ Response 200 (application/pdf)

# Group Produkty
Unikátním identifikátorem produktů a variant je kód (`code`). Kódy mohou být `null`, pokud chcete provádět aktualizaci musí být kódy vyplněny.

Více o produktech v Upgates e-shopech naleznete [zde](https://www.upgates.cz/a/seznamy-produktu).

## Seznam produktů [/api/v2/products{code}{?codes}{?product_id}{?product_ids}{?variant_codes}{?last_update_time_from}{?active_yn}{?archived_yn}{?exclude_from_search_yn}{?in_stock_yn}{?language}{?pricelist}{?page}]

Seznam produktů je dostupný po jednotlivých stranách, výstup je omezený na 50 položek na stránku. Pokud bude jakákoliv hodnota u variant `null`, dědí se z produktu.

Hodnota slevy na produkt (`product_discount`) + sleva na výrobce + sleva na kategorii (bere se sleva z hlavní kategorie, ve které je produkt zařazen). Výsledná hodnota slevy se omezí na hodnotu z nastavení *Maximální procento slevy*.

### Seznam produktů [GET]
Kompletní seznam produktů.

+ Parameters
    + code (string, optional) - kód produktu
    + codes (string, optional) - kódy produktů oddělené středníkem `;`
    + product_id (string, optional) - ID produktu
    + product_ids (string, optional) - ID produktů oddělené středníkem `;`
    + variant_codes (string, optional) - kódy variant oddělené středníkem `;` (v případě použití tohoto parametru vrací produkt, který obsahuje požadovanou variantu)
    + last_update_time_from (date, optional) - vrátí produkty změněné od tohoto data
    + active_yn (bool, optional) - vrátí pouze aktivní nebo neaktivní produkty
    + archived_yn (bool, optional) - vrátí pouze archivované nebo nearchivované produkty
    + exclude_from_search_yn (bool, optional) - příznak vyřadit z vyhledávání
    + in_stock_yn (bool, optional) - vrátí pouze produkty skladem nebo produkty s ostatními dostupnostmi
    + language (language, optional) - jazyk. Vrací pouze produkty v aktivním jazyce a pouze s daty, které se vážou na jazyk (např. ceny a texty). Pokud není definováno, vrací produkty a data ve všech jazycích
    + pricelist (string, optional) - název ceníku. Vrátí produkty pouze s tímto ceníkem
    + page (int, optional) - stránka. Pokud není definováno, vrací vždy stranu 1

+ Response 200 (application/json)

    + Attributes
        + current_page (int) - aktuální strana
        + current_page_items (int) - počet položek na aktuální straně
        + number_of_pages (int) - celkový počet stran
        + number_of_items (int) - celkový počet položek
        + products (array) - pole objektů s produkty
            + (object)
                + code (string) - kód produktu, páruje se podle existující hodnoty v databázi
                + code_supplier (string) - kód dodavatele
                + supplier (string) - dodavatel
                + ean (string) - EAN
                + product_id (int) - interní ID produktu
                + active_yn (bool) - zobrazit produkt na webu
                + archived_yn (bool) - archivovaný produkt
                + replacement_product_code (string) - kód náhradního produktu. Pouze pokud je produkt archivovaný
                + can_add_to_basket_yn (bool) - lze přidat do košíku
                + adult_yn (bool) - pouze pro dospělé
                + set_yn (bool) - produkt je sada
                + in_set_yn (bool) - produkt je v sadě
                + exclude_from_search_yn (bool) - příznak vyřadit z vyhledávání
                + descriptions (array) - pole objektů s texty
                    + (object)
                        + language (language)
                        + title (string) - název produktu
                        + short_description (string) - krátký popis, bez HTML formátování
                        + long_description (string) - dlouhý popis, může obsahovat formátování pomocí HTML značek
                        + url (string) - URL adresa produktu
                        + seo_title (string) - SEO titulek produktu
                        + seo_description (string) - META popisek stránky produktu
                        + seo_url (string) - vlastní koncovka URL adresy
                        + unit (string) - název jednotky v daném jazyce
                + manufacturer (string) - výrobce
                + stock (float) - počet jednotek na skladě
                + stock_position (string) - pozice na skladě
                + availability (string) - název dostupnosti
                + availability_type (enum) - typ dostupnosti
                    - OnRequest - na dotaz
                    - NotAvailable - není skladem
                    - InStock - skladem
                    - Custom - vlastní
                + weight (int) - váha v gramech
                + shipment_group (string) - skupina doprav
                + images (array) - pole objektů s obrázky
                    + (object)
                        + url (string) - URL adresa obrázku
                        + main_yn (bool) - hlavní obrázek
                        + list_yn (bool) - seznamový obrázek
                        + position (int) - pozice obrázku
                        + titles (array) - pole objektů s popisky
                            + (object)
                            + language (language)
                            + title (string) - popisek obrázku
                + categories (array) - pole objektů s kategoriemi
                    + (object)
                        + category_id (int) - ID kategorie
                        + code (string) - kód kategorie
                        + main_yn (bool) - příznak hlavní kategorie. Pokud je `true`, je tato kategorie u tohoto produktu hlavní
                        + position (int) - pozice produktu v kategorii
                        + name (string) - pouze orientační název kategorie. Není zaručeno, z jakého jazyka se vezme
                + groups (array) - skupiny, do kterých je produkt zařazen
                + prices (array) - pole objektů s cenami
                    + (object)
                        + language (language)
                        + currency (currency) - měna
                        + pricelists (array) - pole objektů s ceníky
                            + (object)
                                + name (string) - název ceníku. Pokud je při importu prázdné, chápe se jako výchozí ceník
                                + price_original (float) - původní cena. Základní ceníková cena, od které se odvozují další
                                + product_discount (float) - sleva na produkt v procentech
                                + product_discount_real` - reálná sleva na produkt použitá pro výpočet výsledné ceny , vypočítává se takto:
                                hodnota slevy na produkt (product_discount) + sleva na výrobce + sleva na kategorii (bere se sleva z hlavní kategorie ve které je produkt zařazen). Výsledná hodnota slevy se omezí na hodnotu z nastavení Maximální procento slevy.
                                + price_sale (float) - akční cena. Exportuje se pouze tehdy, pokud je produkt v akci (štítek akce)
                                + price_with_vat` - koncová cena s DPH
                                + price_without_vat` - koncová cena bez DPH
                        + price_purchase (float) - nákupní cena, interní údaj pro orientaci administrátora
                        + price_common (float) - běžná cena. Pro orientaci při nákupu, může to být např. cena v kamenných obchodech
                        + recycling_fee (float) - recyklační poplatek
                + vats (object) - objekt s DPH v jednotlivých zemích (klíč každé položky v objektu je typu *country*), **pouze pokud je aktivní OSS**
                + variants (array) - pole objektů s variantami
                    + (object)
                        + code (string) - kód varianty
                        + code_supplier (string) - kód dodavatele
                        + ean (string) - EAN
                        + variant_id (int) - interní ID varianty
                        + active_yn (bool) - zobrazit variantu na webu
                        + can_add_to_basket_yn (bool) - lze přidat do košíku
                        + stock (float) - počet jednotek na skladě
                        + stock_position (string) - pozice na skladě
                        + availability (string) - název dostupnosti
                        + availability_type (enum) - typ dostupnosti
                            - OnRequest - na dotaz
                            - NotAvailable - není skladem
                            - InStock - skladem
                            - Custom - vlastní
                        + weight (string) - váha v gramech
                        + image (string) - URL adresa produktu
                        + prices (array) - pole objektů s cenami
                            + (object)
                                + language (language)
                                + currency (currency) - měna
                                + pricelists (array) - pole objektů s ceníky
                                    + (object)
                                        + name (string) - název ceníku
                                        + price_original (float) - původní cena. Základní ceníková cena, od které se odvozují další
                                        + product_discount (float) - sleva na produkt v procentech
                                        + product_discount_real` - reálná sleva na produkt, použitá pro výpočet výsledné ceny. Vypočítává se takto:
                                        hodnota slevy na produkt (product_discount) + sleva na výrobce + sleva na kategorii (bere se sleva z hlavní kategorie ve které je produkt zařazen). Výsledná hodnota slevy se omezí na hodnotu z nastavení Maximální procento slevy.
                                        + price_sale (float) - akční cena. Exportuje se pouze tehdy, pokud je produkt v akci (štítek akce)
                                        + price_with_vat` - koncová cena s DPH
                                        + price_without_vat` - koncová cena bez DPH
                                + price_purchase (float) - nákupní cena, interní údaj pro orientaci administrátora
                                + price_common (float) - běžná cena, pro orientaci při nákupu. Může to být např. cena v kamenných obchodech
                        + metas (Metas)
                + metas (Metas)
                + admin_url (string) - URL do detailu produktu v administraci

### Seznam produktů - zjednodušený [GET/api/v2/products/simple/{code}{?codes}{?product_id}{?product_ids}{?variant_codes}{?last_update_time_from}{?active_yn}{?archived_yn}{?exclude_from_search_yn}{?in_stock_yn}{?language}{?pricelist}{?page}]
Zjednodušený seznam produktů

+ Parameters
    + code (string, optional) - kód produktu
    + codes (string, optional) - kódy produktů oddělené středníkem `;`
    + product_id (string, optional) - ID produktu
    + product_ids (string, optional) - ID produktů oddělené středníkem `;`
    + variant_codes (string, optional) - kódy variant oddělené středníkem `;` (v případě použití tohoto parametru vrací produkt, který obsahuje požadovanou variantu)
    + last_update_time_from (date, optional) - vrátí produkty změněné od tohoto data
    + active_yn (bool, optional) - vrátí pouze aktivní nebo neaktivní produkty
    + archived_yn (bool, optional) - vrátí pouze archivované nebo nearchivované produkty
    + exclude_from_search_yn (bool, optional) - příznak vyřadit z vyhledávání
    + in_stock_yn (bool, optional) - vrátí pouze produkty skladem nebo produkty s ostatními dostupnostmi
    + language (language, optional) - jazyk. Vrací pouze produkty v aktivním jazyce a pouze s daty, které se vážou na jazyk (např. ceny a texty). Pokud není definováno, vrací produkty a data ve všech jazycích
    + pricelist (string, optional) - název ceníku. Vrátí produkty pouze s tímto ceníkem
    + page (int, optional) - stránka. Pokud není definováno, vrací vždy stranu 1

+ Response 200 (application/json)

    + Attributes
        + current_page (int) - aktuální strana
        + current_page_items (int) - počet položek na aktuální straně
        + number_of_pages (int) - celkový počet stran
        + number_of_items (int) - celkový počet položek
        + products (array) - pole objektů s produkty
            + (object)
                + code (string) - kód produktu, páruje se podle existující hodnoty v databázi
                + code_supplier (string) - kód dodavatele
                + supplier (string) - dodavatel
                + ean (string) - EAN
                + product_id (int) - interní ID produktu
                + active_yn (bool) - zobrazit produkt na webu
                + archived_yn (bool) - archivovaný produkt
                + replacement_product_code (string) - kód náhradního produktu, pouze pokud je produkt archivovaný
                + can_add_to_basket_yn (bool) - lze přidat do košíku
                + adult_yn (bool) - pouze pro dospělé
                + set_yn (bool) - produkt je sada
                + in_set_yn (bool) - produkt je v sadě
                + exclude_from_search_yn (bool) - příznak vyřadit z vyhledávání
                + manufacturer (string) - výrobce
                + stock (float) - počet jednotek na skladě
                + stock_position (string) - pozice na skladě
                + availability (string) - název dostupnosti
                + availability_type (enum) - typ dostupnosti
                    - OnRequest - na dotaz
                    - NotAvailable - není skladem
                    - InStock - skladem
                    - Custom - vlastní
                + weight (int) - váha v gramech
                + shipment_group (string) - skupina doprav
                + groups (array) - skupiny, do kterých je produkt zařazen
                + vats (object) - objekt s DPH v jednotlivých zemích (klíč každé položky v objektu je typu *country*), **pouze pokud je aktivní OSS**
                + variants (array) - pole objektů s variantami
                    + (object)
                        + code (string) - kód varianty
                        + code_supplier (string) - kód dodavatele
                        + ean (string) - EAN
                        + variant_id (int) - interní ID varianty
                        + active_yn (bool) - zobrazit variantu na webu
                        + can_add_to_basket_yn (bool) - lze přidat do košíku
                        + stock (float) - počet jednotek na skladě
                        + stock_position (string) - pozice na skladě
                        + availability (string) - název dostupnosti
                        + availability_type (enum) - typ dostupnosti
                            - OnRequest - na dotaz
                            - NotAvailable - není skladem
                            - InStock - skladem
                            - Custom - vlastní
                        + weight (string) - váha v gramech
                        + image (string) - URL adresa produktu
                + admin_url (string) - URL do detailu produktu v administraci

### Seznam produktů - ceny [GET/api/v2/products/prices/{code}{?codes}{?product_id}{?product_ids}{?variant_codes}{?last_update_time_from}{?active_yn}{?archived_yn}{?exclude_from_search_yn}{?in_stock_yn}{?language}{?pricelist}{?page}]
Seznam produktů pouze s cenami

+ Parameters
    + code (string, optional) - kód produktu
    + codes (string, optional) - kódy produktů oddělené středníkem `;`
    + product_id (string, optional) - ID produktu
    + product_ids (string, optional) - ID produktů oddělené středníkem `;`
    + variant_codes (string, optional) - kódy variant oddělené středníkem `;` (v případě použití tohoto parametru vrací produkt, který obsahuje požadovanou variantu)
    + last_update_time_from (date, optional) - vrátí produkty změněné od tohoto data
    + active_yn (bool, optional) - vrátí pouze aktivní nebo neaktivní produkty
    + archived_yn (bool, optional) - vrátí pouze archivované nebo nearchivované produkty
    + exclude_from_search_yn (bool, optional) - příznak vyřadit z vyhledávání
    + in_stock_yn (bool, optional) - vrátí pouze produkty skladem nebo produkty s ostatními dostupnostmi
    + language (language, optional) - jazyk. Vrací pouze produkty v aktivním jazyce a pouze s daty, které se vážou na jazyk (např. ceny a texty). Pokud není definováno, vrací produkty a data ve všech jazycích
    + pricelist (string, optional) - název ceníku, vrátí produkty pouze s tímto ceníkem
    + page (int, optional) - stránka. Pokud není definováno, vrací vždy stranu 1

+ Response 200 (application/json)

    + Attributes
        + current_page (int) - aktuální strana
        + current_page_items (int) - počet položek na aktuální straně
        + number_of_pages (int) - celkový počet stran
        + number_of_items (int) - celkový počet položek
        + products (array) - pole objektů s produkty
            + (object)
                + code (string) - kód produktu, páruje se podle existující hodnoty v databázi
                + action_currently_yn (bool) - přiznak produktu v akci
                + prices (array) - pole objektů s cenami
                    + (object)
                        + language (language)
                        + currency (currency) - měna
                        + pricelists (array) - pole objektů s ceníky
                            + (object)
                                + name (string) - název ceníku. Pokud je při importu prázdné, chápe se jako výchozí ceník
                                + price_original (float) - původní cena. Základní ceníková cena, od které se odvozují další
                                + product_discount (float) - sleva na produkt v procentech
                                + product_discount_real` - reálná sleva na produkt použitá pro výpočet výsledné ceny, vypočítává se takto:
                                hodnota slevy na produkt (product_discount) + sleva na výrobce + sleva na kategorii (bere se sleva z hlavní kategorie ve které je produkt zařazen). Výsledná hodnota slevy se omezí na hodnotu z nastavení Maximální procento slevy.
                                + price_sale (float) - akční cena. Exportuje se pouze tehdy, pokud je produkt v akci (štítek akce)
                                + price_with_vat` - koncová cena s DPH
                                + price_without_vat` - koncová cena bez DPH
                        + price_purchase (float) - nákupní cena, interní údaj pro orientaci administrátora
                        + price_common (float) - běžná cena, pro orientaci při nákupu. Může to být např. cena v kamenných obchodech
                        + recycling_fee (float) - recyklační poplatek
                + variants (array) - pole objektů s variantami
                    + (object)
                        + code (string) - kód varianty
                        + action_currently_yn (bool) - přiznak varianty v akci
                        + prices (array) - pole objektů s cenami
                            + (object)
                                + language (language)
                                + currency (currency) - měna
                                + pricelists (array) - pole objektů s ceníky
                                    + (object)
                                        + name (string) - název ceníku
                                        + price_original (float) - původní cena. Základní ceníková cena, od které se odvozují další
                                        + product_discount (float) - sleva na produkt v procentech
                                        + product_discount_real` - reálná sleva na produkt použitá pro výpočet výsledné ceny, vypočítává se takto:
                                        hodnota slevy na produkt (product_discount) + sleva na výrobce + sleva na kategorii (bere se sleva z hlavní kategorie ve které je produkt zařazen). Výsledná hodnota slevy se omezí na hodnotu z nastavení Maximální procento slevy.
                                        + price_sale (float) - akční cena. Exportuje se pouze tehdy, pokud je produkt v akci (štítek akce)
                                        + price_with_vat` - koncová cena s DPH
                                        + price_without_vat` - koncová cena bez DPH
                                + price_purchase (float) - nákupní cena, interní údaj pro orientaci administrátora
                                + price_common (float) - běžná cena, pro orientaci při nákupu. Může to být např. cena v kamenných obchodech
                + admin_url (string) - URL do detailu produktu v administraci

### Seznam produktů - parametry [GET/api/v2/products/parameters/{code}{?codes}{?product_id}{?product_ids}{?variant_codes}{?last_update_time_from}{?active_yn}{?archived_yn}{?exclude_from_search_yn}{?in_stock_yn}{?language}{?pricelist}{?page}]
Seznam produktů pouze s parametry a parametry variant

+ Parameters
    + code (string, optional) - kód produktu
    + codes (string, optional) - kódy produktů oddělené středníkem `;`
    + product_id (string, optional) - ID produktu
    + product_ids (string, optional) - ID produktů oddělené středníkem `;`
    + variant_codes (string, optional) - kódy variant oddělené středníkem `;` (v případě použití tohoto parametru vrací produkt, který obsahuje požadovanou variantu)
    + last_update_time_from (date, optional) - vrátí produkty změněné od tohoto data
    + active_yn (bool, optional) - vrátí pouze aktivní nebo neaktivní produkty
    + archived_yn (bool, optional) - vrátí pouze archivované nebo nearchivované produkty
    + exclude_from_search_yn (bool, optional) - příznak vyřadit z vyhledávání
    + in_stock_yn (bool, optional) - vrátí pouze produkty skladem nebo produkty s ostatními dostupnostmi
    + language (language, optional) - jazyk. Vrací pouze produkty v aktivním jazyce a pouze s daty, které se vážou na jazyk (např. ceny a texty). Pokud není definováno, vrací produkty a data ve všech jazycích
    + pricelist (string, optional) - název ceníku, vrátí produkty pouze s tímto ceníkem
    + page (int, optional) - stránka. Pokud není definováno, vrací vždy stranu 1

+ Response 200 (application/json)

    + Attributes
        + current_page (int) - aktuální strana
        + current_page_items (int) - počet položek na aktuální straně
        + number_of_pages (int) - celkový počet stran
        + number_of_items (int) - celkový počet položek
        + products (array) - pole objektů s produkty
            + (object)
                + code (string) - kód produktu, páruje se podle existující hodnoty v databázi
                + parameters (ProductParameters)
                + variants (array) - pole objektů s variantami
                    + (object)
                        + code (string) - kód varianty
                        + parameters (ProductParameters)
                + admin_url (string) - URL do detailu produktu v administraci

### Seznam produktů - štítky [GET/api/v2/products/labels/{code}{?codes}{?product_id}{?product_ids}{?variant_codes}{?last_update_time_from}{?active_yn}{?archived_yn}{?exclude_from_search_yn}{?in_stock_yn}{?language}{?pricelist}{?page}]
Seznam produktů pouze se štítky

+ Parameters
    + code (string, optional) - kód produktu
    + codes (string, optional) - kódy produktů oddělené středníkem `;`
    + product_id (string, optional) - ID produktu
    + product_ids (string, optional) - ID produktů oddělené středníkem `;`
    + variant_codes (string, optional) - kódy variant oddělené středníkem `;` (v případě použití tohoto parametru vrací produkt, který obsahuje požadovanou variantu)
    + last_update_time_from (date, optional) - vrátí produkty změněné od tohoto data
    + active_yn (bool, optional) - vrátí pouze aktivní nebo neaktivní produkty
    + archived_yn (bool, optional) - vrátí pouze archivované nebo nearchivované produkty
    + exclude_from_search_yn (bool, optional) - příznak vyřadit z vyhledávání
    + in_stock_yn (bool, optional) - vrátí pouze produkty skladem nebo produkty s ostatními dostupnostmi
    + language (language, optional) - jazyk. Vrací pouze produkty v aktivní jazyce a pouze s daty, které se vážou na jazyk (např. ceny a texty). Pokud není definováno, vrací produkty a data ve všech jazycích
    + pricelist (string, optional) - název ceníku, vrátí produkty pouze s tímto ceníkem
    + page (int, optional) - stránka. Pokud není definováno, vrací vždy stranu 1

+ Response 200 (application/json)

    + Attributes
        + current_page (int) - aktuální strana
        + current_page_items (int) - počet položek na aktuální straně
        + number_of_pages (int) - celkový počet stran
        + number_of_items (int) - celkový počet položek
        + products (array) - pole objektů s produkty
            + (object)
                + code (string) - kód produktu, páruje se podle existující hodnoty v databázi
                + labels (ProductLabels)
                + variants (array) - pole objektů s variantami
                    + (object)
                        + code (string) - kód varianty
                        + labels (ProductLabels)
                + admin_url (string) - URL do detailu produktu v administraci

### Seznam produktů - soubory [GET/api/v2/products/files/{code}{?codes}{?product_id}{?product_ids}{?variant_codes}{?last_update_time_from}{?active_yn}{?archived_yn}{?exclude_from_search_yn}{?in_stock_yn}{?language}{?pricelist}{?with_files_yn}{?page}]
Seznam produktů pouze se soubory

+ Parameters
    + code (string, optional) - kód produktu
    + codes (string, optional) - kódy produktů oddělené středníkem `;`
    + product_id (string, optional) - ID produktu
    + product_ids (string, optional) - ID produktů oddělené středníkem `;`
    + variant_codes (string, optional) - kódy variant oddělené středníkem `;` (v případě použití tohoto parametru vrací produkt, který obsahuje požadovanou variantu)
    + last_update_time_from (date, optional) - vrátí produkty změněné od tohoto data
    + active_yn (bool, optional) - vrátí pouze aktivní nebo neaktivní produkty
    + archived_yn (bool, optional) - vrátí pouze archivované nebo nearchivované produkty
    + exclude_from_search_yn (bool, optional) - příznak vyřadit z vyhledávání
    + in_stock_yn (bool, optional) - vrátí pouze produkty skladem nebo produkty s ostatními dostupnostmi
    + language (language, optional) - jazyk. Vrací pouze produkty v aktivní jazyce a pouze s daty, které se vážou na jazyk (např. ceny a texty). Pokud není definováno, vrací produkty a data ve všech jazycích
    + pricelist (string, optional) - název ceníku, vrátí produkty pouze s tímto ceníkem
    + with_files_yn (bool, optional) - pokud je `TRUE`, vrátí pouze produkty se soubory
    + page (int, optional) - stránka. Pokud není definováno, vrací vždy stranu 1

+ Response 200 (application/json)

    + Attributes
        + current_page (int) - aktuální strana
        + current_page_items (int) - počet položek na aktuální straně
        + number_of_pages (int) - celkový počet stran
        + number_of_items (int) - celkový počet položek
        + products (array) - pole objektů s produkty
            + (object)
                + code (string) - kód produktu
                + files (array) - pole objektů se soubory
                    + (object)
                        + url (string) - URL adresa souboru
                        + position (int) - pozice souboru
                        + titles (array) - pole objektů s popisky
                            + (object)
                            + language (language)
                            + title (string) - popisek souboru
                + admin_url (string) - URL do detailu produktu v administraci

### Seznam produktů - související [GET/api/v2/products/related/{code}{?codes}{?product_id}{?product_ids}{?variant_codes}{?last_update_time_from}{?active_yn}{?archived_yn}{?exclude_from_search_yn}{?in_stock_yn}{?language}{?pricelist}{?page}]
Seznam produktů pouze s vazbami na související, alternativní, příslušenství, dárky a sady

+ Parameters
    + code (string, optional) - kód produktu
    + codes (string, optional) - kódy produktů oddělené středníkem `;`
    + product_id (string, optional) - ID produktu
    + product_ids (string, optional) - ID produktů oddělené středníkem `;`
    + variant_codes (string, optional) - kódy variant oddělené středníkem `;` (v případě použití tohoto parametru vrací produkt, který obsahuje požadovanou variantu)
    + last_update_time_from (date, optional) - vrátí produkty změněné od tohoto data
    + active_yn (bool, optional) - vrátí pouze aktivní nebo neaktivní produkty
    + archived_yn (bool, optional) - vrátí pouze archivované nebo nearchivované produkty
    + exclude_from_search_yn (bool, optional) - příznak vyřadit z vyhledávání
    + in_stock_yn (bool, optional) - vrátí pouze produkty skladem nebo produkty s ostatními dostupnostmi
    + language (language, optional) - jazyk. Vrací pouze produkty v aktivní jazyce a pouze s daty, které se vážou na jazyk (např. ceny a texty). Pokud není definováno, vrací produkty a data ve všech jazycích
    + pricelist (string, optional) - název ceníku, vrátí produkty pouze s tímto ceníkem
    + page (int, optional) - stránka. Pokud není definováno, vrací vždy stranu 1

+ Response 200 (application/json)

    + Attributes
        + current_page (int) - aktuální strana
        + current_page_items (int) - počet položek na aktuální straně
        + number_of_pages (int) - celkový počet stran
        + number_of_items (int) - celkový počet položek
        + products (array) - pole objektů s produkty
            + (object)
                + code (string) - kód produktu, páruje se podle existující hodnoty v databázi
                + related (array) - související produkty, pole kódů produktů
                + accessories (array) - příslušenství, pole kódů produktů
                + alternative (array) - alternativní produkty, pole kódů produktů
                + gifts (array) - dárky
                    + (object)
                        + code (string) - kód produktu nebo varianty
                        + type (enum) - typ varianty
                            - highest_stock_variant - varianta s nejvyšším skladem
                            - random_stock_variant - náhodná varianta
                            - variant - vybraná varianta
                + sets (array) - sady
                    + (object)
                        + code (string) - kód produktu nebo varianty
                        + quantity (float) - počet jednotek v sadě
                + admin_url (string) - URL do detailu produktu v administraci

## Aktualizace produktu [/api/v2/products]
+ produkty a varianty se párují podle hodnoty `code`.
+ pokud bude jakákoliv hodnota u variant `null` dědí se od produktu
+ štítky u variant - když budou mít atributy `active_yn`, `active_from`, `active_to` hodnotu `NULL`, bude se štítek dědit z produktu

### Aktualizace produktu [PUT]

+ Request
    + Attributes
        + products (array, optional) - pole objektů s produkty
            + (object)
                + code (string, required) - kód produktu, páruje se podle existující hodnoty v databázi
                + active_yn (bool, optional) - zobrazit produkt na webu
                + archived_yn (bool, optional) - archivovaný produkt
                + replacement_product_code (string, optional) - kód náhradního produktu, pouze pokud je produkt archivovaný
                + ean (string, optional) - EAN
                + description (array, optional)
                    + (object)
                        + language (language, required)
                        + active_yn (bool, optional) - aktivní v jazykové mutaci, výchozí je `TRUE`. Použitelné pouze pro deaktivaci jazykové mutace (skrytí produktu v jazykove mutaci)
                        + title (string, optional) - název produktu. Povinné pouze v případě, že se nově zapíná jazyková mutace
                        + short_description (string, optional) - krátký popis, bez HTML formátování
                        + long_description (string, optional) - dlouhý popis, může obsahovat formátování pomocí HTML značek
                        + seo_title (string, optional) - SEO titulek
                        + seo_description (string, optional) - META popisek stránky produktu
                        + seo_url (string, optional) - vlastní koncovka URL adresy
                + stock (float, optional) - počet jednotek na skladě
                + stock_position (string, optional) - pozice na skladě
                + availability (string, optional) - název dostupnosti. Neimportuje se u položek s nastavením [dostupnosti dle stavu zásob](https://upgates.cz/a/nastaveni-dostupnosti-dle-stavu-zasob). Pokud však v tomto případě stav zásob není definován (hodnota `stock` musí být prázdná nebo úplně chybět), dostupnost se importuje
                + can_add_to_basket_yn (bool, optional) - lze přidat do košíku
                + adult_yn (bool, optional) - pouze pro dospělé
                + prices (array, optional) - pole objektů s cenami
                    + (object)
                        + language (language, required)
                        + pricelists (array, optional) - pole objektů s ceníky
                            + (object)
                                + name (string, required) - název ceníku. Pokud je při importu prázdné, chápe se jako výchozí ceník
                                + price_original (float, optional) - původní cena. Základní ceníková cena, od které se odvozují další
                                + product_discount (float, optional) - sleva na produkt v procentech
                                + price_sale (float, optional) - akční cena. Exportuje se pouze tehdy, pokud je produkt v akci (štítek akce)
                        + price_purchase (float, optional) - nákupní cena, interní údaj pro orientaci administrátora
                        + price_common (float, optional) - běžná cena, pro orientaci při nákupu. Může to být např. cena v kamenných obchodech
                + labels (array, optional) - štítky
                    + (object)
                        + label_id (int, required) - ID štítku
                        + active_yn (bool, optional) - aktivní
                        + active_from (date, optional) - aktivní od data
                        + active_to (date, optional) - aktivní do data
                + variants (array, optional) - pole objektů s variantami
                    + (object)
                        + code (string, required) - kód varianty, páruje se podle existující hodnoty v databázi
                        + active_yn (bool, optional) - zobrazit variantu na webu
                        + ean (string, optional) - EAN
                        + stock (float, optional) - počet jednotek na skladě
                        + stock_position (string, optional) - pozice na skladě
                        + availability (string, optional) - název dostupnosti. Neimportuje se u položek s nastavením [dostupnosti dle stavu zásob](https://upgates.cz/a/nastaveni-dostupnosti-dle-stavu-zasob). Pokud však v tomto případě stav zásob není definován (hodnota `stock` musí být prázdná nebo úplně chybět), dostupnost se importuje
                        + can_add_to_basket_yn (bool, optional) - lze přidat do košíku
                        + prices (array, optional) - pole objektů s cenami
                            + (object)
                                + language (language, required)
                                + pricelists (array, optional) - pole objektů s ceníky
                                    + (object)
                                        + name (string, required) - název ceníku. Pokud je při importu prázdné, chápe se jako výchozí ceník
                                        + price_original (float, optional) - původní cena. Základní ceníková cena od které se odvozují další
                                        + product_discount (float, optional) - sleva na produkt v procentech
                                        + price_sale (float, optional) - akční cena. Exportuje se pouze tehdy, pokud je produkt v akci (štítek akce)
                                + price_purchase (float, optional) - nákupní cena, interní údaj pro orientaci administrátora
                                + price_common (float, optional) - běžná cena, pro orientaci při nákupu. Může to být např. cena v kamenných obchodech
                        + labels (array, optional)
                            + (object)
                                + label_id (int, required) - ID štítku
                                + active_yn (bool, optional) - aktivní
                                + active_from (date, optional) - aktivní od data
                                + active_to (date, optional) - aktivní do data
                + metas (array, optional) - pole objektů s vlastnimi poli
                    + (object)
                        + key (string, optional) - klíč vlastního pole. Vlastní pole musí být v administraci založeno.
                        + value (string, optional) - hodnota vlastního pole. Použijte v případě, kdy je hodnota vlastního pole společná pro všechny jazyky
                        + values (array, optional) - pole hodnot vlastního pole podle jazykových mutací
                            + (object)
                                + language (language, optional) - jazyk hodnoty
                                + value (string, optional) - hodnota
                + creation_time (date, optional) - čas vytvoření produktu
                + last_update_time (date, optional) - čas poslední aktualizace produktu
        + variants (array, optional) - pole objektů s variantami (viz. varianty v produktu). Možno poslat i bez produktu, pouze jako seznam variant.

+ Response 200 (application/json)

    + Attributes
        + products (array) - pole objektů s produkty
            + (object)
                + code (string) - kód produktu
                + product_url (string) - URL adresa, kde se nachází produkt
                + updated_yn (bool) - příznak, jestli se produkt aktualizoval
                + messages (ErrorMessage)

## Smazání produktů [/api/v2/products/{code}{?codes}]

### Smazání produktů [DELETE]

+ Parameters
    + code (string) - kód produktu
    + codes (string) - kódy produktů oddělené středníkem `;` nebo jako pole

+ Response 200 (application/json)

    + Attributes
        + products (array) - pole objektů s produkty
            + (object)
                + code (string) - kód produktu
                + deleted_yn (bool) - příznak, jestli se produkt smazal
                + messages (ErrorMessage)

### Smazání variant [DELETE/api/v2/products/variants{?codes}]

+ Parameters
    + codes (string) - kódy variant oddělené středníkem `;` nebo jako pole

+ Response 200 (application/json)

    + Attributes
        + variants (array) - pole objektů s variantami
            + (object)
                + code (string) - kód varianty
                + deleted_yn (bool) - příznak, jestli se varianta smazala
                + messages (ErrorMessage)

## Štítky [/api/v2/labels]
Více o štítcích v Upgates e-shopech naleznete [zde](https://www.upgates.cz/a/akce-novinky-vyprodej-a-dalsi-stitky).

### Seznam štítků [GET]

+ Response 200 (application/json)

    + Attributes
        + labels (array) - pole objektů se štítky
            + (object)
                + label_id (int) - ID štítku
                + type (enum) - typ štítku
                    - action - systémový štítek **akce**
                    - new - systémový štítek **novinka**
                    - sale - systémový štítek **výprodej**
                    - custom - vlastní štítek
                + descriptions (array)
                    + (object)
                        + language_id (language)
                        + name

## Recenze a hodnocení [/api/v2/products/ratings-reviews]
Recenze a hodnocení jsou spojeny do jednoho záznamu.
Více informací na [Hodnocení a recenze](https://www.upgates.cz/a/hodnoceni-a-recenze)

### Vytvoření [POST]
Zákazník může jeden produkt hodnotit pouze jednou, tzn. že musí být vždy unikátní kombinace zákazníka - produktu. V případě, že vznikne duplicita, vrátí API chybovou hlášku.
V požadavku musí vždy být informace o hodnocení, produktu a zákazníkovi. Všechny ostatní informace jsou nepovinné.

Hodnocení a recenze přijaté přes API jsou:
- **automaticky schválené** bez ohledu na nastavení v administraci
- neřeší se věrnostní systém, tzn. po přijetí recenze nejsou připsány body

+ Request 200 (application/json)

    + Attributes
        + ratings_reviews (array, required) - pole objektů s recenzemi a hodnocením
            + (object)
                + product (object, required) - produkt
                    + code (string, required) - kód produktu
                + customer (object, required) - zákazník
                    + email (int, required) - email zákazníka
                    + customer_name (string) - jméno zákazníka, které se zobrazuje u recenze a hodnocení. Může jít i o nick. Pokud je prázdné, vezme se z účtu zákazníka
                + review (object) - recenze
                    + positives (string) - klady. HTML tagy budou odstraněny a text bude ořezán na délku 500 znaků
                    + negatives (string) - zápory. HTML tagy budou odstraněny a text bude ořezán na délku 500 znaků
                    + creation_time (date) - datum vytvoření recenze
                    + answer (object) - odpověď na recenzi
                        + user_name (string) - jméno uživatele, který odpovídal
                        + text (string) - text odpovědi
                        + creation_time (date) - datum vytvoření odpovědi
                + rating (object, required) - hodnocení
                    + score (int, required) - počet hvězdiček 1-5
                    + creation_time (date) - datum vytvoření recenze

+ Response 200 (application/json)

    + Attributes
        + ratings_reviews (array) - pole objektů s recenzemi a hodnocením
            + (object)
                + created_yn (bool) - příznak, jestli se položka vytvořil
                + messages (ErrorMessage)

### Seznam [GET/api/v2/products/ratings-reviews{?product_code}{?email}{?page}]

+ Parameters
    + product_code (string, optional) - kód produktu
    + email (string, optional) - email zákazníka
    + page (int, optional) - stránka. Pokud není definováno, vrací vždy stranu 1

+ Response 200 (application/json)

    + Attributes
        + current_page (int) - aktuální strana
        + current_page_items (int) - počet položek na aktuální straně
        + number_of_pages (int) - celkový počet stran
        + number_of_items (int) - celkový počet položek
        + ratings_reviews (array) - pole objektů s recenzemi a hodnocením
            + (object)
                + rating_review_id (int) - ID
                + product (object) - produkt
                    + product_id (int) - ID produktu
                    + code (string) - kód produktu
                + customer (object) - zákazník
                    + email (int) - email zákazníka
                    + code (string) - kód zákazníka
                    + customer_name (string) - jméno zákazníka, které se zobrazuje u recenze a hodnocení. Může jít i o nick
                + review (object) - recenze
                    + positives (string) - klady
                    + negatives (string) - zápory
                    + creation_time (date) - datum vytvoření recenze
                    + answer (object) - odpověď na recenzi
                        + user_name (string) - jméno uživatele, který odpovídal
                        + text (string) - text odpovědi
                        + creation_time (date) - datum vytvoření odpovědi
                + rating (object) - hodnocení
                    + score (int) - počet hvězdiček 1-5
                    + creation_time (date) - datum vytvoření recenze
                + approved_yn (bool) - příznak, jestli je recenze a hodnocení schváleno
                + approved_time (date) - datum schválení

### Smazání [DELETE/api/v2/products/ratings-reviews{?rating_review_id}{?rating_review_ids}]

+ Parameters
    + rating_review_id (int) - ID hodnocení a recenze
    + rating_review_ids (string) - ID hodnocení a recenze oddělené středníkem `;` nebo jako pole

+ Response 200 (application/json)

    + Attributes
        + ratings_reviews (array) - pole objektů
            + (object)
                + rating_review_id (int) - kód varianty
                + deleted_yn (bool) - příznak, jestli se položka smazala
                + messages (ErrorMessage)


# Group Kategorie
Unikátním identifikátorem kategorie je kód (`code`).

Více o kategoriích v Upgates najdete [zde](https://www.upgates.cz/a/princip-a-zobrazeni-kategorii).

## Seznam kategorií [/api/v2/categories{?creation_time_from}{?last_update_time_from}{?code}{?codes}{?parent_id}{?active_yn}{?language}{?page}]

### Seznam kategorií [GET]
Seznam kategorií je dostupný po jednotlivých stranách, výstup je omezený na 100 položek na stránku.

+ Parameters
    + creation_time_from (date, optional) - pouze kategorie vytvořené od data
    + last_update_time_from (date, optional) - pouze kategorie, u kterých došlo ke změně od data
    + code (string, optional) - kód kategorie
    + codes (string, optional) - kódy kategorií oddělené středníkem `;`
    + parent_id (int, optional) - ID nadřazené kategorie
    + active_yn (bool, optional) - aktivní / neaktivní
    + language (language, optional) - jazyk kategorie
    + page (int, optional) - stránka. Pokud není definováno, vrací vždy stranu 1

+ Response 200 (application/json)

    + Attributes
        + current_page (int) - aktuální strana
        + current_page_items (int) - počet položek na aktuální straně
        + number_of_pages (int) - celkový počet stran
        + number_of_items (int) - celkový počet položek
        + categories (array) - pole objektů s kategoriemi
            + (object)
                + code (string) - kód kategorie
                + category_id (int) - ID kategorie
                + parent_id (int) - ID nadřazené kategorie
                + position (int) - pozice v nadřazené kategorii
                + active_yn (bool) - zobrazit kategorii na webu
                + type (enum) - typ kategorie
                    - homepage - odkaz na hlavní stránku
                    - news - odkaz na aktuality
                    - individual - odkaz na samostatnou stránku
                    - url - externí odkaz
                    - site - stránka
                    - siteWithProducts - stránka s produkty
                    - linkCategory - odkaz na kategorii
                    - advisor - odkaz na rádce
                + type_of_items (enum) - Typ položek
                    - withoutSubcategories - bez podkategorií (výchozí, v kategorii budou ručně vložené produkty)
                    - label - štítek (v kategorii budou produkty, které mají aktivní určený štítek)
                    - manufacturer - výrobce (v kategorii budou produkty, které mají určeného výrobce)
                + manufacturer (string) - název výrobce. Bere se v úvahu pouze pokud je v tagu `type_of_items` hodnota `manufacturer`
                + label (string) - název štítku. Bere se v úvahu pouze pokud je v tagu `type_of_items` hodnota `label`
                + show_in_menu_yn (bool) - zobrazit kategorii v menu
                + descriptions (array) - pole objektů s texty
                    + (object)
                        + language (language) - jazyk kategorie
                        + name` - název kategorie
                        + name_h1 (string) - nadpis stránky v kategorii
                        + description_text (string) - text stránky
                        + url (string) - url kategorie
                        + link_url (string) - URL adresa, na kterou bude vést kategorie. Bere se v úvahu pouze pokud je v tagu `type` hodnota `linkCategory`.
                + images (array) - pole objektů s cenami
                    + (object)
                        + url (string) - URL adresa obrázku
                        + main_yn (bool) - hlavní obrázek
                        + list_yn (bool) - seznamový obrázek
                        + position (int) - pozice obrázku
                        + titles (array) - pole objektů s popisky
                            + (object)
                                + language (language)
                                + title (string) - popisek obrázku
                + metas (array) - pole objektů s vlastními poli
                    + (object)
                        + key (string) - klíč vlastního pole
                        + type (string) - typ vlastního pole (hodnoty mohou být: radio, checkbox, input, date, email, number, select, multiselect, textarea, formatted)
                        + value (string) - hodnota vlastního pole v případě, kdy je hodnota vlastního pole společná pro všechny jazyky
                        + values (array) - pole objektů s hodnotami v případě, kdy není hodnota vlastního pole společná pro všechny jazyky
                            + (object)
                                + language (language)
                                + value (string) - hodnota
                + creation_time (date) - datum a čas vytvoření
                + last_update_time (date) - datum a čas poslední změny
                + admin_url (string) - URL do detailu kategorie v administraci

# Group Zákazníci
Unikátním identifikátorem zákazníků je email (`email`).

Více o zákaznících v Upgates e-shopech naleznete [zde](https://www.upgates.cz/a/seznamy-zakazniku).

[...]
